* {
	font-family: 'Lato', sans-serif;
	--primaryMain: #457b9d;
	--primaryDark: #8cadab;
	--secondaryMain: #e63946;
	--secondaryDark: #b4737f;
	--tertiaryMain: #9d9faa;
	--tertiaryDark: #1d1d1d;
	--tertiaryLight: #f7f7f7;
	--backgroundLight: #ffffff;
	--backgroundDark: #222;
	--fontDark: #000;
	--fontLight: #fff;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 20px;
}

.App {
	visibility: hidden;
}

/* --------------------------------------- */
/* RESUABLE COMPONENTS */
/* --------------------------------------- */
a,
a:visited,
a:hover,
a:focus,
a:active {
	text-decoration: none !important;
}

/* --------------------------------------- */
/* NAV */
/* --------------------------------------- */
/* ----- MAIN NAV ----- */
.main-nav {
	width: 100%;
	height: 60px;
	background-color: var(--backgroundLight);
	/* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); */
	padding-top: 15px;
	z-index: 2;
}

.main-nav ul {
	float: right;
}

.main-nav ul li {
	display: inline-block;
	margin-right: 30px;
}

/* ----- NAV LINKS ----- */
.nav-link {
	position: relative;
	cursor: pointer;
	color: var(--fontDark);
}

.nav-link-underline {
	position: absolute;
	bottom: 1px;
	right: -6px;
	z-index: -1;
	height: 8px;
	width: 50px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	background-color: var(--primaryMain);
	transition: all 0.25s;
}

.nav-link:hover .nav-link-underline,
.nav-link:active .nav-link-underline {
	background-color: var(--secondaryMain);
}

/* --------------------------------------- */
/* HOME PAGE */
/* --------------------------------------- */
/* ----- HOME LOGO ----- */
.home-logo-outer {
	height: 91vh;
	background-color: var(--backgroundDark);
	border-radius: 0 250px 0 0;
	position: relative;
}

.home-logo-inner {
	position: absolute;
	height: 90%;
	width: 70%;
	top: 10%;
	margin-left: 15%;
	background-color: var(--backgroundLight);
	border-radius: 200px 200px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* ----- HOME TEXT ----- */
.home-text {
	display: flex;
	height: 91vh;
	flex-direction: column;
	justify-content: center;
}

.home-text-zeal,
.home-text-patel {
	font-size: 144px;
	letter-spacing: 0.2em;
	text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
	color: var(--backgroundDark);
}

.home-text-mobile {
	display: none;
}

.home-text-zeal::first-letter,
.home-text-patel::first-letter,
.home-text-mobile-zeal::first-letter,
.home-text-mobile-patel::first-letter {
	color: var(--primaryMain);
}

.home-text-zeal {
	margin-left: 15%;
}

.home-text-patel {
	margin-left: 29%;
}

/* --------------------------------------- */
/* ABOUT PAGE */
/* --------------------------------------- */
.about-page {
	background-color: var(--backgroundDark);
}

.about-section-heading {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 144px;
	letter-spacing: 0.2em;
	color: var(--tertiaryLight);
	transform: rotate(-90deg) translate(-90%, 100%);
}

/* ----- ABOUT IMAGE ----- */
.about-img-outer {
	height: 100vh;
	background-color: var(--backgroundDark);
	position: relative;
}

.about-img-inner {
	position: absolute;
	height: 70%;
	width: 70%;
	margin-left: 15%;

	background-color: var(--backgroundLight);
	border-radius: 0 0 200px 200px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.about-img {
	width: 70%;
	height: auto;
	margin-bottom: 20%;
	border-radius: 50%;
}

/* ----- ABOUT DESCRIPTION ----- */
.about-description {
	border-radius: 0 0 0 250px;
	background-color: var(--backgroundLight);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}

.about-description-text,
.project-description-text {
	width: 70%;
	padding-top: 30px;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 0.1em;
	line-height: 150%;
	z-index: 1;
}

/* --------------------------------------- */
/* SKILLS PAGE */
/* --------------------------------------- */
.skills-page {
	background-color: var(--backgroundDark);
	position: relative;
	border-radius: 0 0 250px 0;
	padding-bottom: 100px;
}

.skill-container {
	margin: 20px auto 0 auto;
	filter: drop-shadow(0px 2px 2px rgba(187, 187, 187, 0.25));
}

.skill-container p {
	color: var(--fontLight);
	font-size: 18px;
	margin-left: 50px;
	margin-bottom: 5px;
}

.skill-icon {
	font-size: 30px;
	color: var(--fontLight);
}

.skill-bar-container {
	height: 30px;
	background-color: var(--backgroundLight);
	border-radius: 6px;
	margin-left: 50px;
	margin-top: -33px;
}

.skill-bar {
	background-color: var(--primaryMain);
	height: 100%;
	z-index: 1;
	border-radius: 6px;
}

.skills-page-heading {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 144px;
	letter-spacing: 0.2em;
	color: var(--tertiaryDark);
	transform: rotate(-90deg) translate(40%, -100%);
	z-index: 1;
}

/* --------------------------------------- */
/* PROJECTS PAGE */
/* --------------------------------------- */
.projects-page {
	background-color: var(--backgroundDark);
	position: relative;
}

.projects-section-dark {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--backgroundDark);
}

.projects-section-light {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	border-radius: 250px 0 0 250px;
	background-color: var(--backgroundLight);
}

.projects-page-heading {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 144px;
	letter-spacing: 0.2em;
	color: var(--tertiaryLight);
	transform: rotate(-90deg) translate(-40%, 150%);
	z-index: 1;
}

/* ----- PROJECT IMG ----- */
.project-container {
	position: relative;
	margin: 60px 0;
}

.project-image {
	width: 100%;
	height: auto;
	filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.25));
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0.4) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	border-radius: 25px;
}

.project-title-fill,
.project-title-border {
	position: absolute;
	bottom: 0;
	transform: rotate(-90deg) translate(0%, -10%);
	transform-origin: 0%;
	font-size: 64px;
	font-weight: 700;
	letter-spacing: 0.05em;
	word-wrap: break-word;
}
.project-title-fill {
	color: var(--fontLight);
	z-index: 0;
}
.project-title-border {
	color: transparent;
	-webkit-text-stroke: 1px var(--fontLight);
	z-index: 1;
}

/* ----- VIEW PROJECT LINK  ----- */
.view-project-link-container {
	width: 100px;
	height: 100px;
	position: absolute;
	right: -50px;
	bottom: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 4px solid var(--primaryMain);
	border-radius: 50%;
	cursor: pointer;
	transform-origin: center;
	transition: all 0.25s ease;
}

.view-project-link-container:hover {
	width: 125px;
	height: 125px;
	right: -60px;
	bottom: 110px;
	background: var(--secondaryMain);
	border-color: var(--secondaryMain);
}

.view-project-link {
	white-space: nowrap;
	letter-spacing: 0.25em;
	transition: all 0.25s ease;
	color: var(--fontDark);
}

.view-project-link-container:hover .view-project-link {
	transform: scale(0.7);
	letter-spacing: 0.125em;
}

/* --------------------------------------- */
/* PROJECT DETAILS PAGE */
/* --------------------------------------- */
.project-highlight-container {
	height: 90vh;
	background: var(--backgroundDark);
	border-radius: 0 250px 0 0;
}

/* ----- BACK LINK ----- */
.back-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 60px;
	margin-left: 50px;
	padding-top: 20px;
	color: var(--tertiaryLight);
	position: relative;
	z-index: 1;
	font-weight: 300;
	transition: all 0.25s;
}

.back-icon,
.home-link-icon {
	transform: rotate(-180deg);
	margin-right: 10px;
	color: var(--tertiaryLight);
}

.back-link-underline {
	position: absolute;
	bottom: 5px;
	right: -25px;
	z-index: -1;
	height: 5px;
	width: 25px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	background-color: var(--primaryMain);
	transition: all 0.25s;
}

.back-link:hover,
.back-link:active,
.back-link:hover .back-icon,
.back-link:active .back-icon {
	color: var(--fontLight);
}
.back-link:hover .back-link-underline,
.back-link:active .back-link-underline {
	background-color: var(--secondaryMain);
}

/* ----- PROJECT HIGHLIGHTS SECTION ----- */
.project-title {
	font-weight: bold;
	font-size: 48px;
	line-height: 150%;
	display: flex;
	align-items: center;
	letter-spacing: 0.125em;
	color: #ffffff;
	margin-left: 50px;
	word-wrap: break-word;
}

/* ----- PROJECT TECHSTACK ----- */
.project-tech-stack-year-container {
	margin-left: 50px;
	margin-top: 30px;
}

.project-tech-stack-heading,
.project-year-heading {
	font-weight: 300;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.1.25em;
	color: var(--fontLight);
	margin-bottom: 5px;
}

.tech-stack-list {
	margin-bottom: 30px;
	list-style: none;
}

.tech-stack-list li,
.project-year {
	color: var(--fontLight);
	margin: 5px 0;
	font-size: 18px;
}

/* ----- PROJECT DESCRIPTION----- */
.project-description-container {
	background: var(--backgroundDark);
}

.project-description-container-inner {
	height: 90vh;
	width: 100%;
	background: var(--backgroundLight);
	border-radius: 0px 0px 0px 250px;
	display: flex;
	justify-content: center;
}

.project-description-text {
	padding-top: 50px;
}

/* ----- PROJECT DETAILED IMAGES ----- */

.project-detail-images {
	background-color: var(--backgroundDark);
	border-radius: 0px 0px 250px 0px;
}

.project-detail-image-title {
	color: var(--fontLight);
	margin-bottom: 10px;
}

/* ----- NEXT PROJECT DETAIL PAGE LINK ----- */
.next-project-detail-link-wrapper {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--backgroundDark);
}

.next-project-detail-page-container {
	background-color: var(--backgroundLight);
	border-radius: 250px 0 0 0;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.next-project-detail-page-link {
	font-weight: bold;
	font-size: 48px;
	letter-spacing: 0.125em;
	color: var(--fontDark);
	position: relative;
	z-index: 1;
}

.next-project-icon {
	margin-left: 10px;
}

.next-project-detail-link-underline {
	width: 100px;
	height: 15px;
	position: absolute;
	right: 8.5%;
	bottom: 8%;
	background: var(--primaryMain);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	z-index: -1;
	transition: all 0.2s ease;
}

.next-project-detail-page-link:hover .next-project-detail-link-underline {
	background: var(--secondaryMain);
}

/* ----- HOME LINK ----- */
.home-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 60px;
	margin-left: -40px;
	color: var(--fontDark);
	position: relative;
	z-index: 1;
	font-weight: 300;
	transition: all 0.25s;
}

.home-link-icon {
	color: var(--fontDark);
}

.home-link-underline {
	position: absolute;
	bottom: 5px;
	right: -35px;
	z-index: -1;
	height: 5px;
	width: 25px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	background-color: var(--primaryMain);
	transition: all 0.25s;
}

.home-link:hover .home-link-underline,
.home-link:active .home-link-underline {
	background-color: var(--secondaryMain);
}

/* --------------------------------------- */
/* CONTACT PAGE */
/* --------------------------------------- */
.contact-page {
	height: 90vh;
	background-color: var(--backgroundDark);
	position: relative;
	border-radius: 0 0 250px 0;
}

.contact-page-heading {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 144px;
	letter-spacing: 0.2em;
	color: var(--tertiaryDark);
	transform: rotate(-90deg) translate(-8%, 50%);
	transform-origin: 0%;
}

/* --------------------------------------- */
/* FOOTER */
/* --------------------------------------- */
.footer-container-dark {
	height: 125px;
	width: 100%;
	background: linear-gradient(
		90deg,
		var(--backgroundDark) 50%,
		var(--backgroundLight) 50%
	);
}

.footer-container-light {
	height: 125px;
	width: 100%;
	background: var(--backgroundLight);
}

.footer {
	width: 100%;
	height: 100%;
	border-radius: 250px 0 0 0;
	background-color: var(--backgroundLight);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-link {
	margin: 0 20px;
	text-align: center;
	transition: all 0.25s ease;
	color: var(--fontDark);
}

.footer-link p {
	margin-top: 5px;
	font-size: 16px;
}

.footer-link:hover .footer-icon {
	color: var(--secondaryMain);
}

.footer-link-border {
	width: 6px;
	height: 75px;
	background-color: var(--primaryMain);
	border-radius: 3px;
}

.footer-copyright {
	text-align: center;
	padding-bottom: 25px;
}

.footer-copyright p {
	font-size: 15px;
}
